# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/


# Node
node_modules/
dist/
.vite/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.log
tmp/
temp/
